.Appmiw {
  padding: 45px 50px;
}

.Applogin {
  padding: 140px 50px;
}

.font{
  font-family: 'Prompt', sans-serif;
}

.avata{
  margin-bottom: 40px;
  /* display: flex; */
  font-family: 'Prompt', sans-serif;
}
.avata_name{
  padding-top: 25px;
  font-size: 15px;
}
.avata_name2{
  padding-top: 22px;
  font-size: 14px;
  font-weight: lighter;
  color: #32A05F;
}
.Head1{
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  font-size: 32px;
  color: #32A05F;
}

a.ant-typography, .ant-typography a{
  color: #32A05F;
}
/* เฉพาะหน้าข้อมูล */
.Head2{
  font-family: 'Prompt', sans-serif;
  font-size: 32px;
  color: #32A05F;
  padding-bottom: 30px;
}

.Head3{
  font-family: 'Prompt', sans-serif;
  font-size: 32px;
  padding-bottom: 30px;
  text-align: center;
}

.Fillter{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.Fillter2{
  padding-top: 20px;
  padding-bottom: 40px;
  justify-self: end;
}

/* มีแพดดิ้ง */
.Reg_text{
  text-align: center;
  padding-left: 50px;
  padding-right: 20px;
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  font-size: 14px;
  color: #191919;
  Display: inline-block;
  Box-sizing: border-box
}

.ant-input::placeholder {
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  font-weight: lighter;
}

.Drop_text{
  letter-spacing: 0.36px;
  color: #4B4A4A;
  font-family: 'Prompt', sans-serif;
} 

.table_text{
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.table_text2{
  display: inline-block;
  font-weight: lighter;
}

.pad1{
  padding-left: 20px;
}

.pad2{
  padding-right: 20px;
  Display: inline-block;
  Box-sizing: border-box;
}

.pad3{
  padding-left: 10px;
  Display: inline-block;
  Box-sizing: border-box;
}

.ant-tooltip-inner {
  font-family: 'Prompt', sans-serif;
}

.ant-table-cell{
  font-family: 'Prompt', sans-serif;
  color: #191919 !important;
}

.tag_a{
  color: #191919;
}
.ant-form-item-control-input{
  justify-self: start;
}
/* ไม่มีแพดดิ้ง */
.Reg_text2{
  align-self: center;
  font-family: 'Prompt', sans-serif;
  /* color: #191919; */
  font-size: 14px;
  Display: inline-block;
  Box-sizing: border-box

}

.ant-popover-message-title{
  font-family: 'Prompt', sans-serif;
}

.login_text{
  color: #9A9A9A;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding-bottom: 8px;
}

/* ตัวบาง */
.Reg_text3{
  align-self: center;
  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #191919;
  Display: inline-block;
  Box-sizing: border-box;

}
/* สำหรับฟรอม */
.Reg_text4{
  align-self: center;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #191919;
  Display: inline-block;
  Box-sizing: border-box
}

/* หัวข้อสถานะ */
.Reg_text5{
  align-self: center;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color: #191919;
  Display: inline-block;
  Box-sizing: border-box
}

.grid_container{
  padding-bottom: 18px;
  display: grid;
  grid-template-columns:1fr 0.6fr 0.6fr 0.6fr;
}

.grid_container2{
  display: grid;
  grid-template-columns:0.9fr 1fr;
}

.grid_container3{
  padding-bottom: 45px;
  display: grid;
  grid-template-columns:1fr 0.8fr 0.8fr 0.8fr;
  border-bottom: 1px solid #EFEFEF;
}
/* ล่างเส้นประวัติรับเข้าพัสดุ */
.grid_container4{
  padding-bottom: 18px;
  display: grid;
  grid-template-columns:1.08fr 0.6fr 0.7fr 0.7fr 0.6fr;
  /* grid-gap: 30px; */
}

.grid_container7{
  padding-bottom: 18px;
  display: grid;
  grid-template-columns:1.08fr 0.7fr 0.9fr  0.6fr;
  /* grid-gap: 30px; */
}
.line{
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
}
.line2{
  margin-right: 22px;
  border-bottom: 1.5px solid #EFEFEF;
}
.grid_container5{
  display: grid;
  grid-template-columns:0.8fr 1fr;
  /* grid-gap: 30px; */
}

.grid_container6{
  display: grid;
  grid-template-columns:0.6fr 1fr;
  /* grid-gap: 30px; */
}

.grid_popup{
  padding-bottom: 18px;
  display: grid;
  grid-template-columns:1fr 0.8fr 0.8fr ;
  /* grid-gap: 30px; */
}

.ant-tag {
  text-align: center;
}

.Date_text{
  padding-top: 25px;
  font-weight: lighter;
  font-family: 'Prompt', sans-serif;
  font-size: 13px;
  color: #9A9A9A;
  padding-bottom: 25px;

}
.ant-btn-primary{
  background: #32A05F !important;
  border-color: #32A05F !important;
  font-family: 'Prompt', sans-serif;
  font-weight: normal;
}

.edit_head{
  right: auto;
}

.ant-btn{
  font-family: 'Prompt', sans-serif;
  font-weight: normal;
}

/* Grid หน้ากรอกข้อมูล */

.Container{
  padding-bottom: 35px;
  display: grid;
  grid-template-columns:1fr 1fr;
}

.Container2{
  display: grid;
  grid-template-columns:1fr 280px 1fr ;
  flex-direction: row;
}

.Container3{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  align-self: center;
}

.Container5{
  display: grid;
  grid-template-columns:1.3fr 280px 1fr ;
  flex-direction: row;
}
.grid_filter{
  display: grid;
  grid-template-columns:1.5fr 1fr ;
  align-self: center;
}
.Avataname{
  display: flex;
  align-items: center;
}

.iconminus{
  padding-left: 20px;
  align-self: center;
  justify-self: start;
  color: #32A05F;
}

.ant-steps-item-description{
  font-weight: lighter;
}

.color_edit{
  color: #32A05F !important;
  padding-right: 20px;
  display: inline-block;
  align-items: center;
  flex-direction: row;
}

/* .ant-result-title{
  font-size: 28px !important;
} */

.ant-result-icon > .anticon{
  font-size: 92px !important;
}

.ant-result-subtitle {
  font-size: 16px !important;
  font-weight: lighter;
}

.ant-modal-body {
  padding: none !important;
}

.ant-result {
  padding: 48px 32px;
}

/* .ant-result {
  padding: 150px 32px;
} */

.ant-modal-title {
  padding: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Prompt', sans-serif;
  color: #32A05F !important;
  font-size: 25px !important;
}

.ant-layout-sider-children
{
  border-right: 1px solid #EFEFEF;
}
.button{
  border: none !important;
  background-color: white !important;
}
.Avataname{
  justify-self: end;
}

.ant-btn:hover {
  border-color: #32A05F !important;
  color: #32A05F;
}

.ant-btn-primary:hover {
  color: white;
}

.Modal{
  align-self: center;
  justify-self: end;
}

.ant-modal-header{
  border: none;
}
.ant-menu-item-selected {
  background-color: #32A05F15 !important;
}
.ant-menu-item::after {
  border-right: 3px solid #32A05F !important;
}
.ant-menu-item-selected {
  color: #32A05F;
}
.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #32A05F !important;
}
.ant-menu-item-selected {
  color: #32A05F;
}
.ant-menu-item a:hover {
  color: #32A05F !important;
}
.ant-menu-item-icon a:hover {
  color: #32A05F !important;
}
.grid_item{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}
.ant-checkbox-inner{
  display: flex;
  Display: inline-block;
}

.login_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.login-form-forgot{
  Display: inline-block;
  float: right;
}

.ant-checkbox-checked::after{
  border: none;
}

.buttonExcel #button{
  border: none;
  background-color: none !important;
}

.ant-form{
  justify-self: center;
}

.ant-checkbox{
  align-self: center;
  
}

.login_decor{
  position: absolute;
  top: 390px;
  left: 90px;
}
.login_decor2{
  position: absolute;
  top: -450px;
  left: 950px;
}

.ant-modal-body{
  padding: 10px 35px;
}

.button_center{
  text-align: center;
}
.ant-modal-header {
  padding: 35px 24px;
}

.ant-modal-title {
  padding: 0px 10px;
  padding-top: 10px;
}

.table_head{
  margin-bottom: 0.5em;
  color:#FA8522;
  font-weight: 500;
}

.ant-message-notice-content{
  font-family: 'Prompt', sans-serif;
}

.ant-message-success .anticon{
  color: #32A05F;
}

.ant-message{
  left: 130px;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  font-family: 'Prompt', sans-serif;
}

.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: #FF4D4F;
}

.ant-form-item{
  margin-bottom: 0px;
}

/* Gun *//* Gun *//* Gun *//* Gun */
/* Gun *//* Gun *//* Gun *//* Gun */
/* Gun *//* Gun *//* Gun *//* Gun */
/* Gun *//* Gun *//* Gun *//* Gun */






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  display: flex;
  /* width: 100vw;
  min-height: 100vw; */

  /* text-align: center; */
}
@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
@import '~antd/dist/antd.css';
.headText{
  font-size: 50px;
  font-family: 'Prompt', sans-serif;
  color: #4B4A4A;
}

.Loginpage{
  border: 0;
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 500px;
}

.headText{
  font-family: 'Prompt', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.loginbutton{
  margin-left: 200px;
  background: #32A05F 0% 0% no-repeat padding-box;
}



.itemList-grid{
  display: grid;
  grid-template-columns: 7fr 1.4fr;
  
}

.itemList-grid2{
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  
}

.itemList-grid3{
  column-gap: 20px;
  display: grid;
  grid-template-columns: 7fr 1.4fr 1.4fr;
  
}

.itemlist-headtext{
  font-family: 'Prompt', sans-serif;
  color: #32A05F;
  font-size: 30px;
}

.itemList{
  border: 0;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}


.addNewItem{

  border-radius: 10px;
  background: #32A05F15 ;
  padding: 0;
  margin-bottom: 35px;
  max-width: fit-content;
  
}

.addNewItem .p1{
    font-family: 'Prompt', sans-serif;
    margin-left: 5px;
    margin-right: 10px;
}

.addCricle{
  background: #32A05F 0% 0% no-repeat padding-box;
  margin-left: 15px;
  margin-top: 5px;
  
}

.saerchItem{
  color: #32A05F ;
  border-radius: 10px;
}

.itemtable{
  font-family: 'Prompt', sans-serif;
  
}


.itemout{
  border: 0;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.itemtableout{
  font-family: 'Prompt', sans-serif;
  
}

.itemout-headtext{
  font-family: 'Prompt', sans-serif;
  color: #32A05F;
  font-size: 30px;
}

.itemout-headtext2{
  font-family: 'Prompt', sans-serif;
  color: #FA8522;
  font-size: 30px;
}

.itemout-headtext3{
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
}

.itemtableless{
  border: 0;
  margin-top: 30px;
  font-family: 'Prompt', sans-serif;
}

.searchYear{
  font-family: 'Prompt', sans-serif;
}

.navbar{
  font-family: 'Prompt', sans-serif;
  /* margin-top: 30px; */
  /* margin-left: 45px; */
}

.menutext{
  padding-bottom: 10px;
  padding-top: 10px;
  color: #B9B9B9;
  margin-left: 22px;
}

.navbarnametext{
  color: #32A05F;
  
}

.logonavbar{
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 25px;
  margin-left: 22px;
  

}

.dashbord-grid{
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  font-family: 'Prompt', sans-serif;
  margin-top: 15px;

}

.grid-DBitemout{

  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;

}

.grid-DBitem{
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-family: 'Prompt', sans-serif;
}

.grid-DBitemalmout{
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.DBtext{
  align-self: center;
  color: #32A05F;
  justify-self: end;
  padding-right: 5px;
}

.DBtext2{
  font-family: 'Prompt', sans-serif;
  align-self: center;
  color: #9A9A9A;
  justify-self: end;
  padding-right: 5px;
}

.DBtext3{
  color: #32A05F;
  font-family: 'Prompt', sans-serif;
  align-self: center;
  padding-right: 5px;
}




.itemgrid{
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
}

.anitemDeter{
  font-family: 'Prompt', sans-serif;
  border: 0;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.modalhomepage-grid{
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
  
}

.savedatawithdrawal{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border-radius: 37px;
  opacity: 1;
}
.savedatawithdrawal:hover {
  background-color: #32A05F15;
}
.savedatareception{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 67px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border-radius: 37px;
  opacity: 1;
}
.savedatareception:hover {
  background-color: #2e82f013;
}

/* thead[class*="ant-table-thead"] th{
  background-color: yellow !important;
} */

.listitemsearch{
  display: grid;
  grid-template-columns: 1fr 0.13fr 0.5fr 1fr;
}

.textmodal{
  padding-top: 15px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
  letter-spacing: 0.09px;
  color: #191919;
  opacity: 1;
}

.textcolorblack{
  color: #191919;
}

.textmodal2{
  text-align: center;
  font-size: 16px;
  color: #6b6b6b;
}

.itempage{
  margin-left: 50px;
  margin-top: 100px;
  font-family: 'Prompt', sans-serif;
}

.item-detail{
  margin-left: 50px;
}

.item-lot{
display: grid;
grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 1fr ;
}

.buttongreen{
  background-color:  #32A05F;
  color: #FAFAFA;
  border-radius: 5px;
}

.buttonwhite{
  /* background-color: #FAFAFA; */
  color:  #32A05F;
  border-radius: 5px;
}

.spacebotton{
  display: grid;
  grid-template-columns: 1fr 0.05fr 2fr;
}

.item-datein{
  color: #9A9A9A;
}

.item-detail2{
  word-spacing: 10px;
}

.itemnametext{
  color: #FF7024;
}

/* .listitemsearch{
  word-spacing: 10px;
} */

.upimageapprize{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.upimageapprize2{
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}

.itemgrid-confirm{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
  word-spacing: 5px;
}


.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  font-size: 16px !important;
}

/* .DBitemalmost{
  padding: 35px;
  border: 1px solid #EFEFEF;
  border-radius: 10%;
  
} */

.ant-table-thead .table_head{
  background-color: #fa83221f;
  border-bottom:1px solid #fa83221f !important;
}

.ant-table-thead .table_head::before{
  background-color: #fa83221f !important;
}

.ant-table-thead .table_head2{
  background-color:#32A05F15;
  border-bottom:1px solid #32A05F15!important;
}

.ant-table-thead .table_head2::before{
  background-color:  #32A05F15 !important;
}

.ant-result-success .ant-result-icon > .anticon{
  color: #32A05F;
}

.ant-form-item-explain{display : none !important}